#!/bin/bash

# Use Git's colored diff when available
hash git &>/dev/null
if [ $? -eq 0 ]; then
    function diff() {
        git diff --no-index --color-words "$@"
    }
fi

SSH_ENV="$HOME/.ssh/environment"

function ssh_start_agent {
    echo "Initializing new SSH agent..."
    ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
    chmod 600 "${SSH_ENV}"
    . "${SSH_ENV}" > /dev/null
    ssh-add
}

if [ -f "${SSH_ENV}" ]; then
    . "${SSH_ENV}" > /dev/null
    ps -ef | grep ${SSH_AGENT_PID} | grep ssh-agent$ > /dev/null || {
        ssh_start_agent;
    }
else
    ssh_start_agent;
fi

# If sort -V does not exist, simulate it
if [ -e $(ls | sort -V 1> /dev/null) ]; then

    function sort() {
        case $* in
            -V* )
                shift 1;
                command sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n "$@";;
            * )
                command sort "$@";;
        esac
    }

fi
